.file-upload-area {
  cursor: pointer;
}

.image-card {
  .image-block {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
  }
}
